/* body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.main-container {
    background-color: antiquewhite;
    padding: 10px;
}

.btn {
    background-color: aquamarine;
    border: none;
    margin-left: 5px;
    border-radius: 6px;
    cursor: pointer;
} */
